Repository SalamLang/Salam, pull requests merged in 2024-09, with the labels that each got.

#219 B dadmehr0 clang format
  .clang-format
  .pre-commit-config.yaml
  src/array.c
  src/array.h
  src/array_custom.c
  src/array_custom.h
  src/ast.c
  src/ast.h
  src/ast_layout.c
  src/ast_layout.h
  src/ast_layout_attribute_style_filter.h
  src/ast_layout_attribute_style_state_type.h
  src/ast_layout_attribute_style_type.h
  src/ast_layout_attribute_style_value.h
  src/ast_layout_attribute_type.h
  src/ast_layout_style.c
  src/ast_layout_style.h
  src/ast_layout_type.h
  src/base.h
  src/build-linux.sh
  src/build-webassembly.sh
  src/file.c
  src/file.h
  src/generator.c
  src/generator.h
  src/generator_identifier.c
  src/generator_identifier.h
  src/generator_layout.c
  src/generator_layout.h
  src/generator_layout_style.c
  src/generator_layout_style.h
  src/hashmap.c
  src/hashmap.h
  src/hashmap_custom.c
  src/hashmap_custom.h
  src/lexer.c
  src/lexer.h
  src/log.c
  src/log.h
  src/main.c
  src/main.h
  src/memory.c
  src/parser.c
  src/parser.h
  src/parser_layout.c
  src/parser_layout.h
  src/string.c
  src/string.h
  src/up.c
  src/validator.c
  src/validator.h
Labels: source-code, scripts, repo

#223 Update build.yml
  .github/workflows/build.yml
Labels: github

#226 Update web-assembly.yml
  .github/workflows/web-assembly.yml
Labels: github

#227 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

#235 Add Python black pre-commit hook; format with pre-commit
  .github/workflows/build-release.yml
  .github/workflows/web-assembly.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  example/bintext.py
  out/.keep
  test/tests.py
Labels: code style, testing, repo, github

#236 Update test.yml
  .github/workflows/test.yml
Labels: github
