Repository SalamLang/Salam, pull requests merged in 2024-10, with the labels that each got.

#237 Upgrade pre-commit hooks; add new hook
  .pre-commit-config.yaml
Labels: testing, repo

#240 gha: fix create-release job
  .github/workflows/build-release.yml
Labels: github

#242 Update super-linter.yml - lint all valid languages
  .github/workflows/super-linter.yml
Labels: testing, github

#256 Update test.yml
  .github/workflows/test.yml
Labels: github
