Repository SalamLang/Salam, pull requests merged in 2024-12, with the labels that each got.

#379 Fix markdownlint
  .prettierignore
  README.md
Labels: documentation, code style, testing, repo, markdown

#383 Update run-sync-script.yaml
  .github/workflows/run-sync-script.yaml
Labels: bug, github, yaml

#384 Fix Markdown/HTML prettier; Fix codespell
  .github/linters/codespell.txt
  .pre-commit-config.yaml
  .prettierignore
  config/admin/templates/edit.html
  config/docs.md
Labels: documentation, testing, repo, github, markdown, html

#387 Update labeler.yml - create config label
  .github/labeler.yml
Labels: github

#386 Run Python black
  config/sync.py
Labels: config

#388 Update pyproject.toml - fix bandit skips
  pyproject.toml
Labels: repo

#389 Run `ruff check --fix`
  config/admin/app.py
  config/module/utils.py
  config/sync.py
Labels: config

#392 Indent YAML
  config/layout/attribute/style/state.yaml
Labels: code style, yaml, config

#398 Format YAML
  .github/labeler.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/build-release.yml
  .github/workflows/first-interaction.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/proselint.yml
  .github/workflows/run-sync-script.yaml
  .github/workflows/super-linter.yml
  .github/workflows/test.yml
  .github/workflows/web-assembly.yml
  .pre-commit-config.yaml
  config/block.yaml
  config/language.yaml
  config/layout/attribute/style/global_value.yaml
  config/layout/type.yaml
  config/type.yaml
  docker/docker-compose.yaml
Labels: code style, testing, repo, github, yaml, config

#411 mypy error fix
  config/admin/app.py
  config/layout/attribute/style/value.convert.py
  config/sync.py
Labels: config

#410 Update requirements.txt remove mypy
  requirements.txt
Labels: repo
