Repository SalamLang/Salam, pull requests merged in 2024-05, with the labels that each got.

#117 Update .editorconfig
  .editorconfig
Labels: bug

#114 Add Contributing guide
  CONTRIBUTING.md
  README.md
Labels: documentation, good first issue

#118 Update README.md - add @anufdo
  README.md
Labels: documentation

#122 Update .markdown-lint.yml
  .github/linters/.markdown-lint.yml
Labels: code style

#119 Add-Code-of-conduct
  CODE_OF_CONDUCT.md
  README.md
Labels: documentation

#121 Added some content to README_AR.md file
  docs/README_AR.md
Labels: documentation, good first issue

#124 Update README.md add two new contributors
  README.md
Labels: documentation

#125 Add action First Interaction
  .github/workflows/first_interaction.yml
Labels: good first issue

#133 Add pull request labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: enhancement, good first issue

#134 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: bug

#135 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: github

#113 Check for the presence of Library and program
  b.sh
Labels: good first issue, scripts, repo

#120 Remove redundant type cast
  salam.c
Labels: good first issue, code style, source-code, repo

#137 Run pre-commit
  b.sh
  salam.c
Labels: source-code, scripts, repo

#136 Update README.md
  README.md
Labels: repo

#127 Abstract Malloc through macro
  salam.c
Labels: source-code, repo

#141 Free function arguments
  salam.c
Labels: source-code, repo

#140 Properly free array data
  salam.c
Labels: source-code, repo
