Repository SalamLang/Salam, pull requests merged in 2024-04, with the labels that each got.

#85 Add basic EditorConfig file
  .editorconfig
Labels: code style, testing

#86 Update README.md
  README.md
Labels: documentation

#87 Update `online.html` remove blank line
  online.html
Labels: code style

#89 Add basic `.dockerignore`
  .dockerignore
Labels: good first issue

#90 Update online.html; `type="text/javascript"` is default for `<script>…
  online.html
Labels: code style

#91 Update dependabot.yml clean up
  .github/dependabot.yml
Labels: documentation

#93 Add codespell config file
  .codespellrc
Labels: good first issue, testing

#96 Update super-linter.yml; VALIDATE_DOCKERFILE_HADOLINT
  .github/workflows/super-linter.yml
Labels: code style, testing

#97 Fix hadolint
  .github/linters/.hadolint.yaml
  Dockerfile
Labels: code style, testing

#102 Update README.md add developers names
  README.md
Labels: documentation, good first issue

#103 Disable MD033/no-inline-html Inline HTML
  .github/linters/.markdown-lint.yml
Labels: code style, testing

#105 Run `test-git-clone` on more image
  .github/workflows/test.yml
Labels: good first issue, testing

#107 Update README.md add contributors list
  README.md
Labels: documentation, good first issue

#108 Update README.md
  README.md
Labels: documentation, code style

#109 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, good first issue

#111 Add logo to the README
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/linters/.markdown-lint.yml
  README.md
Labels: documentation, good first issue, code style

#112 Update README.md add `Anwar Hossain`
  README.md
Labels: documentation
