Repository SalamLang/Salam, pull requests merged in 2024-08, with the labels that each got.

#189 V2
  .gitignore
  b.sh
  challenges/first/design/active-states.jpg
  challenges/first/design/desktop-design.jpg
  challenges/first/design/desktop-preview.jpg
  challenges/first/design/mobile-design.jpg
  challenges/first/favicon-32x32.png
  challenges/first/icon-music.svg
  challenges/first/illustration-hero.svg
  challenges/first/input.salam
  challenges/first/output.html
  challenges/first/pattern-background-desktop.svg
  challenges/first/pattern-background-mobile.svg
  input.salam
  messages.h
  okay.salam
  output.html
  salam.c
  salam.h
  table.salam
  test.salam
  testform.salam
  testme.salam
Labels: source-code, scripts, repo

#194 pre-commit autoupdate
  .pre-commit-config.yaml
Labels: testing, repo

#198 Indent shell scripts with tabs; fix pre-commit
  .pre-commit-config.yaml
  b.sh
Labels: code style, testing, scripts, repo

#210 Fix pre-commit
  example/test6.salam
  example/test7.salam
  src/ast.c
  src/ast.h
  src/ast_layout.c
  src/ast_layout.h
  src/ast_layout_style.c
  src/file.c
  src/file.h
  src/generator_identifier.c
  src/generator_layout.c
  src/generator_layout.h
  src/generator_layout_style.c
  src/generator_layout_style.h
  src/lexer.c
  src/lexer.h
  src/main.c
  src/make.bat
  src/parser.c
  src/parser_layout.c
  src/parser_layout.h
  src/tokens.txt
  src/utf8-log.txt
  src/utf8.salam.txt
  src/validator.c
  src/validator.h
  src/windows-logs.txt
  test/layout/body-hover/style.css
  test/layout/custom-font/style.css
  test/tests.py
Labels: source-code

#211 Update index.html
  test/layout/body-hover/index.html
Labels: code style

#213 Format Python files with black
  example/bintext.py
  src/encoding.py
  src/hex.py
  test/tests.py
Labels: code style
