Repository SalamLang/Salam, pull requests merged in 2024-06, with the labels that each got.

#149 Run pre-commit
  BSDMakefile
  GNUMakefile
Labels: code style, testing

#126 Updated pull request template added
  .github/pull_request_template.md
Labels: github

#162 Run pre-commit
  .github/pull_request_template.md
  logo.svg
  salam.c
Labels: code style, testing

#166 Run pre-commit
  examples/bool.salam
  examples/even-odd-function.salam
  salam.c
Labels: code style, testing

#165 Update README.md
  README.md
Labels: documentation
