Repository SalamLang/Salam, pull requests merged in 2024-11, with the labels that each got.

#268 Fix pre-commit
  .pre-commit-config.yaml
  config/language.validate.py
  config/layout/attribute/type.validate.py
  config/layout/type.validate.py
  config/type.validate.py
  src/build-linux.sh
  src/build-webassembly.sh
Labels: scripts, repo

#269 Update test.yml
  .github/workflows/test.yml
Labels: github

#271 Create requirements.txt
  requirements.txt
Labels: repo

#272 Create Makefile
  Makefile
Labels: repo

#273 pre-commit autoupdate; clang-format
  .pre-commit-config.yaml
  src/generator_layout.c
Labels: source-code, repo

#274 Format Markdown with prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .prettierrc
  CONTRIBUTING.md
Labels: repo, github

#276 Add oxipng to pre-commit
  .pre-commit-config.yaml
  assets/logo-box.png
  assets/logo.png
Labels: repo

#278 Add `gitleaks` to `pre-commit`
  .pre-commit-config.yaml
Labels: testing, repo

#279 [DOCS], added a link to the README file
  README.md
Labels: documentation, good first issue, repo

#281 Update FUNDING.yml
  .github/FUNDING.yml
Labels: enhancement, github

#282 Delete .github/FUNDING.yml
  .github/FUNDING.yml
Labels: bug, github

#283 [CI] Add prettier to pre-commit
  .github/dependabot.yml
  .github/workflows/build-release.yml
  .github/workflows/first_interaction.yml
  .github/workflows/super-linter.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  config/layout/attribute/style/state.yaml
  config/layout/attribute/style/type.yaml
  config/layout/attribute/style/value.yaml
  config/layout/type.yaml
  src/salam-online.html
  test/layout/body-hover/index.html
  test/layout/body-hover/style.css
  test/layout/custom-font/index.html
  test/layout/custom-font/style.css
Labels: enhancement, code style, testing, repo, github

#285 Update the pre-commit config
  .pre-commit-config.yaml
Labels: bug, testing, repo

#287 `prettier` ignore the `test` directory
  .prettierignore
  test/layout/body-hover/index.html
  test/layout/body-hover/style.css
  test/layout/custom-font/index.html
  test/layout/custom-font/style.css
Labels: code style, testing, repo

#288 Update labeler.yml
  .github/labeler.yml
Labels: github

#289 Update the Super-Linter settings
  .github/linters/.htmlhintrc
  .github/workflows/super-linter.yml
Labels: code style, testing, github

#290 Update `.htmlhintrc`
  .github/linters/.htmlhintrc
Labels: testing, github

#291 Add `bandit` to `pre-commit`
  .pre-commit-config.yaml
  pyproject.toml
Labels: testing, security, repo

#294 Add more details to the pre-commit config
  .pre-commit-config.yaml
Labels: testing, repo

#298 Create proselint.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/proselint.yml
  .pre-commit-config.yaml
  .proselintrc.json
  CONTRIBUTING.md
Labels: documentation, repo, github

#299 Update pyproject.toml add isort entry
  pyproject.toml
Labels: good first issue, repo, python

#302 Add Python vulture to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Labels: testing, repo, python, yaml

#303 Add the check-toml hook to pre-commit
  .pre-commit-config.yaml
Labels: testing, repo, yaml

#308 Clean up repo root; Move CODEOWNERS file
  .github/CODEOWNERS
Labels: good first issue, github

#316 Update proselint.yml - update github actions
  .github/workflows/proselint.yml
Labels: good first issue, testing, github

#318 Run `pre-commit run --all-files`
  .pre-commit-config.yaml
  build-linux.sh
  build-webassembly.sh
  config/layout/attribute/style/global_value.validate.py
  config/layout/attribute/style/state.validate.py
  src/lexer.c
Labels: source-code, scripts, repo

#319 Update pyproject.toml - update vulture paths
  pyproject.toml
Labels: good first issue, testing, repo, python

#331 Update test.yml
  .github/workflows/test.yml
Labels: github

#332 Update super-linter.yml
  .github/workflows/super-linter.yml
Labels: github

#333 Move codespell config to pyproject.toml
  .codespellrc
  pyproject.toml
Labels: repo

#337 Fix Super-Linter SHELL_SHFMT errors
  build-webassembly.sh
Labels: scripts, repo

#338 Add more details to the pre-commit config
  .pre-commit-config.yaml
Labels: repo

#345 Mypy
  .github/workflows/mypy.yml
  config/language.validate.py
  config/layout/attribute/style/global_value.validate.py
  config/layout/attribute/style/state.validate.py
  config/layout/attribute/style/type.validate.py
  config/layout/attribute/style/value.validate.py
  config/layout/attribute/type.validate.py
  config/layout/type.validate.py
  config/sync.py
  config/type.validate.py
  example/bintext.py
  mypy.ini
  requirements.txt
  test/tests.py
Labels: repo, github, python, yaml

#348 Update README.md
  README.md
Labels: documentation, repo

#347 add mypy to .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: repo

#350 Update sync.py
  config/sync.py
Labels: bug, python

#353 Delete .github/workflows/mypy.yml
  .github/workflows/mypy.yml
Labels: good first issue

#372 Refactor & Modular /config python files
  config/language.validate.py
  config/layout/attribute/style/global_value.validate.py
  config/layout/attribute/style/state.validate.py
  config/layout/attribute/style/type.validate.py
  config/layout/attribute/style/value.validate.py
  config/layout/attribute/type.validate.py
  config/layout/type.validate.py
  config/module/__pycache__/utils.cpython-312.pyc
  config/module/__pycache__/validation.cpython-312.pyc
  config/module/utils.py
  config/module/validation.py
  config/sync.py
  config/type.validate.py
Labels: enhancement, code style, security, python, yaml
