Repository SalamLang/Salam, pull requests merged in 2025-01, with the labels that each got.

#423 Mypy fixing
  config/admin/app.py
  config/layout/__init__.py
  config/layout/attribute/__init__.py
  config/layout/attribute/style/__init__.py
  config/layout/attribute/style/global_value.validate.py
  config/layout/attribute/style/state.validate.py
  config/layout/attribute/style/type.validate.py
  config/layout/attribute/style/value.validate.py
  config/layout/attribute/type.validate.py
  config/layout/attribute/value.validate.py
  config/layout/py.typed
  config/layout/type.validate.py
  config/module/__init__.py
  config/module/validation.py
Labels: bug, code style, python, config

#434 Fix codespell pre-commit
  .github/linters/codespell.txt
  src/test.js
Labels: github

#437 Remove trailing whitespace and run clang-format
  build-webassembly.sh
  example/custom-font.salam
  example/try.salam
  salam-online.html
  src/array_custom.c
  src/ast_layout.c
  src/ast_layout.h
  src/ast_layout_style.c
  src/generator_layout.c
  src/main.c
  src/test.html
Labels: testing, source-code, scripts, repo

#579 Update README.md copyright years
  README.md
Labels: documentation, repo

#580 Fix codespell and run prettier
  .pre-commit-config.yaml
  config/yaml/docs.md
  src/generator_layout.c
Labels: documentation, source-code, repo, config

#582 Fix YAML indentS
  config/yaml/layout/type.yaml
Labels: config

#584 chmod +x shell script
  build/tags/run_all.sh
Labels: scripts

#636 trim trailing whitespace
  build/attribute.py
  build/tags/a.py
  build/tags/area.py
  build/tags/dialog.py
  build/tags/fieldset.py
  build/tags/figcaption.py
  build/tags/figure.py
  build/tags/footer.py
  build/tags/form.py
  build/tags/h1.py
  build/tags/h2.py
  build/tags/h3.py
  build/tags/h4.py
  build/tags/h5.py
  build/tags/h6.py
  build/tags/header.py
  build/tags/hgroup.py
  build/tags/hr.py
  build/tags/i.py
  build/tags/iframe.py
  build/tags/img.py
  build/tags/input.py
  build/tags/td.py
  build/tags/textarea.py
  build/tags/th.py
  build/tags/video.py
  build/type.py
  build/value.py
  config/admin/templates/edit.html.jinja
Labels: config

#885 Run shell format; shfmt -w -l
  build/tags/run_all.sh
Labels: code style, testing, scripts, shell

#952 Disable f.write("\n") - replace f.write(COMMENT_END + "\n") with f.write(COMMENT_END)
  config/yaml/docs.md
  config/yaml/json/block.json
  config/yaml/json/layout/attribute/style/global_value.json
  config/yaml/json/layout/attribute/style/state.json
  config/yaml/json/layout/attribute/style/type.json
  config/yaml/json/layout/attribute/style/value.json
  config/yaml/json/layout/attribute/type.json
  config/yaml/json/layout/attribute/value.json
  config/yaml/json/layout/type.json
  config/yaml/json/type.json
  config/yaml/sync.py
  src/generated-config/ast_block_type.h
  src/generated-config/ast_layout_attribute_filter.h
  src/generated-config/ast_layout_attribute_style_global.h
  src/generated-config/ast_layout_attribute_style_state_type.h
  src/generated-config/ast_layout_attribute_style_type.h
  src/generated-config/ast_layout_attribute_style_value.h
  src/generated-config/ast_layout_attribute_style_value_extern.h
  src/generated-config/ast_layout_attribute_type.h
  src/generated-config/ast_layout_attribute_value.h
  src/generated-config/ast_layout_attribute_value_extern.h
  src/generated-config/ast_layout_type.h
  src/generated-config/ast_layout_type_attributes.h
  src/generated-config/ast_layout_type_attributes_all.h
  src/generated-config/ast_layout_type_attributes_values.h
  src/generated-config/ast_layout_type_attributes_values_extern.h
  src/generated-config/ast_type.h
Labels: documentation, config

#964 Fix ShellCheck Warnings and Improve Build Scripts
  build-linux.sh
  build-webassembly.sh
Labels: scripts, repo

#965 mypy fix import-untyped error
  .pre-commit-config.yaml
  build/styles/background-position-y.py
Labels: repo

#966 Mypy "attr-defined" fixed - Activating Stub Files in the Project
  .pre-commit-config.yaml
  config/yaml/yaml.pyi
  mypy.ini
Labels: repo, config

#967 Update web-assembly.yml: remove unneeded `chmod +x`
  .github/workflows/web-assembly.yml
Labels: good first issue, github, shell

#968 Stop `ruff` super-linter checks; incompatible with `black`
  .github/workflows/super-linter.yml
Labels: code style, testing, github, python, yaml

#969 Add `make run` to tests on PRs
  .github/workflows/make-run.yml
Labels: testing, github, makefile, yaml

#970 Run shell format; indent with tabs
  build-webassembly.sh
Labels: scripts, repo

#972 Stop `isort` super-linter check; incompatible with pre-commit isort
  .github/workflows/super-linter.yml
Labels: code style, testing, github, python, yaml

#974 Remove unneeded file `build/styles/.py`: fix black super-linter
  build/styles/.py
Labels: good first issue, testing, python

#975 Fix super-linter natural language
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
Labels: documentation, testing, github, markdown

#976 Update build-webassembly.sh - add double quotes; fix bash super-linte…
  build-webassembly.sh
Labels: testing, shell

#979 Bump actions/setup-python to v5
  .github/workflows/run-sync-script.yaml
Labels: testing, github, yaml

#983 Next generation ts
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/make-run.yml
  .github/workflows/run-sync-script.yaml
  .github/workflows/super-linter.yml
  .github/workflows/web-assembly.yml
  CONTRIBUTING.md
  example/image.salam
  src/runtime/data/element/mediatypes.ts
  src/runtime/element/a.ts
  src/runtime/element/area.ts
  src/runtime/element/audio.ts
  src/runtime/element/em.ts
  src/runtime/element/footer.ts
  src/runtime/element/form.ts
  src/runtime/element/img.ts
Labels: documentation, repo, github
