Repository SalamLang/Salam, pull requests merged in 2025-10, with the labels that each got.

#1063 Update pip install contributing pre-commit
  CONTRIBUTING.md
  requirements.txt
Labels: documentation, repo

#1065 Update `CONTRIBUTING.md` add more info on `pre-commit`
  CONTRIBUTING.md
Labels: documentation, repo

#1066 Add Python version file
  .python-version
Labels: repo

#1074 Update README.md fix minor English grammar
  README.md
Labels: documentation, repo

#1073 Format shell scripts with tabs
  b.sh
  build_and_run.sh
Labels: scripts, repo

#1089 ✨ Add emojis to all workflow name keys (fixes #1086)
  .github/workflows/build-release.yml
  .github/workflows/first-interaction.yml
  .github/workflows/make-run.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/proselint.yml
  .github/workflows/run-sync-script.yaml
  .github/workflows/super-linter.yml
  .github/workflows/test-git-clone.yml
  .github/workflows/web-assembly.yml
Labels: github, hacktoberfest, hacktoberfest-accepted

#1101 Update b.py - Fix mypy errors
  b.py
Labels: testing, repo, python, hacktoberfest, hacktoberfest-accepted

#1104 Fix: Correct YAML formatting
  .github/workflows/pre-commit.yml
Labels: good first issue, testing, github, yaml, github_actions, hacktoberfest, hacktoberfest-accepted

#1113 Add readme badges
  README.md
Labels: documentation, repo

#1116 Add skeleton docs
  .prettierignore
  .readthedocs.yaml
  CONTRIBUTING.md
  doc/Makefile
  doc/make.bat
  doc/source/_static/images/salam.png
  doc/source/about.rst
  doc/source/conf.py
  doc/source/index.rst
  requirements-dev.txt
  requirements-docs.txt
Labels: documentation, repo
